
@{
    ViewBag.Title = "About";
}

<h2>Теоретичні відомості</h2>

<hr/>

<h3>Спосіб подання графу алгоритму</h3>
<h4>Основним спосбом подання графу алгоритму є матриця суміжності:</h4>
<hr />
<h4>Розглянемо приклад:</h4>
<h4>(a + b + c) * d - f * e *(k + g)</h4>
<img src="~/Content/Ex3.png"/>
<h4>Елементи 0-6 предсталяють собою вхідні дані, інші елементи 7-11 це операції.</h4>
<h4>Побудувавши граф залежностей, можна виділити його матрицю суміжності:</h4>

<h4>Для цього виразу матриця суміжності виглядатиме так: </h4>
<hr />
<div style="border: 2px double black">
    <h4>0 0 0 0 0 0 0 0 1 0 0 0 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 1 0 0 0 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 1 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 0 1 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 1 0 0 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 1 0 0 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 1 0 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 1 0 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 1 0 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 1 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 1 0 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 0 1 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 0 1 0</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 0 0 1</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 0 0 1</h4>
    <h4>0 0 0 0 0 0 0 0 0 0 0 0 0 0 0</h4>
</div>
<hr />

<h4>Зберігши цю матрицію в текстовий документ її можна використати на даному ресурсі для побудови ЯПФ.</h4>