@{
    ViewBag.Title = "Home Page";
}
<style>
    .full-width-div {
        position: absolute;
        width: 100%;
        left: 0;
    }
</style>

<div class="row" ng-app="mainModule" ng-controller="MainPageController">
    <div class="full-width-div" id="mynetwork"></div>
</div>
