@{
    ViewBag.Title = "Home Page";
}

<script>
    var model = @Html.Raw(Json.Encode(Model));
</script>
<style>
    #center-text {
    text-align: center;
    }
</style>

<h3 id="center-text">Побудова ярусно-паралельної форми онлайн</h3>

<h4 class="label label-primary">Даний ресурс призначений для побудови ярусно паралельної форми алгоритму.</h4>