@{
    ViewBag.Title = "Home Page";
}

<script>
    var model = @Html.Raw(Json.Encode(Model));
</script>

<div id="container" style="height: 500px;" ng-app="mainModule" ng-controller="MainPageController">
    <style>
        #graph-container {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
    </style>
    <div id="graph-container"></div>

</div> 
