@{
    ViewBag.Title = "RunExpression";

}

<div ng-app="mainModule" ng-controller="runExtensionController">
    <h2>Побудувати ярусно паралельну форму</h2>

    <h>Для побудови ярусно-паралельної форми алгоритму завантажте матрицю суміжності для лінійної форми графа</h>
    <br />
    <hr />
    @using (Html.BeginForm ("ViewResult",  
        "Home",  
        FormMethod.Post,  
        new { enctype = "multipart/form-data" }))  
    {                    
        <label for="file">Завантажте текстовий документ:</label>  
        <input type="file" name="file" id="file"/><br><br>  
        <input type="submit" class="btn-info" value="Відобразити ЯПФ"/>  
        <br><br>
        <h4>З прикладом вхідних даних можна ознайомитись на сторінці: @Html.ActionLink("теорія", "Index", "About")</h4>  
    }
    @using (Html.BeginForm("ViewResultFromExtension",
                "Home",
                FormMethod.Post,
                new { enctype = "multipart/form-data" }))
    {
        <label for="file">Або ж введіть вираз в текстове полу:</label>
        <input type="text" name="extension"/><br><br>
        <input type="submit" class="btn-info" value="Відобразити ЯПФ" />
        <br><br>
        <h4>З прикладом вхідних даних можна ознайомитись на сторінці: @Html.ActionLink("теорія", "Index", "About")</h4>
    }
</div>